<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script},~{::link})}">
<head>
    <title>About</title>
    <link rel="stylesheet" href="about1.css">
    <link rel="stylesheet" href="about2.css">

</head>

<body>
    <div id="content" class=" bg-blue-400 ">

        <h2>Welcome to about page</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, dolore!
        </p>
    </div>

    <script>
        console.log("About script");
    </script>
    <script>
        console.log(" second script");
    </script>
</body>

</html>