
<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script},~{})}">

<head>
    <title>Home</title>
   

</head>

<body >
    <div id="content" class="bg-red-300 w-1/2 p-4 mx-auto mt-4 ">
        <h1 class="text-4xl font-bold">Welcome to home page</h1>
        <p class="text-cyan-300  text-2xl">Name: <span th:text="${name}"></span></p>
        <p>Mobile No: <span th:text="${mobileNo}"></span></p>
        <p>Linkedin url: <span th:text="${linkedin}"></span> <br><a th:href="${linkedin}">Click here to open</a></p>
        
        <p class="font-bold" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem provident iusto itaque rem dolore obcaecati
            reiciendis voluptatum eligendi veniam quaerat. Aspernatur dolor nemo atque rerum tenetur doloribus sunt.
            Nostrum mollitia porro enim in a obcaecati voluptas ullam praesentium optio nam est reiciendis
            reprehenderit, fuga ipsum illum suscipit ipsa velit minus?</p>
    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</html>
